<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Test Suite" thread-count="6" parallel="methods">

<listeners>
<listener class-name="com.crm.qa.listeners.TestListener"/>
<listener class-name="com.crm.qa.listeners.AnnotationTransformer"/>
</listeners>
 <test name="testngTest">
 <classes>
 <class name="com.crm.qa.testcases.LoginPageTest"></class>
 <class name="com.crm.qa.testcases.HomePageTest"></class>
 <class name="com.crm.qa.testcases.ContactsPageTest"></class>
 
 </classes>
 </test>
</suite>